@font-face {
  font-family: Roboto;
  src: url(./static/Roboto-Regular.ttf);
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  top: 0;
  background-color: blue;
  overflow: hidden;
}
body:-webkit-full-screen {
  position: fixed;
  top: 0;
}

.chart-container {
  margin: auto;
}

.chart {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.inputs {
  color: black;
  margin: 10px;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
  align-content: space-between;
  font-size: 0.8em;
}
.inputs h4 {
  margin: 0px;
  padding: 0px;
}
.inputs h3 {
  margin: 0px;
  padding: 0px;
}
/* GRID LAYOUT INPUTS*/
.document-counts {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}
.title-group-by {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
}
.title-extras {
  grid-column: 1;
  grid-row: 3;
  text-align: right;
}
.group-by {
  grid-column: 2;
  grid-row: 2;
}

.extras {
  grid-column: 2;
  grid-row: 3;
}

/* DRAG & DROP*/

.extras {
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}

.draggable {
  cursor: pointer;
  display: inline-block;
  background-color: #eee;
  font-weight: normal;
  margin: 5px;
  padding: 5px;
  border: 0px solid black;
  border-radius: 2px;
}
.active {
  background-color: #aaa;
  color: #fff;
}
.group-by {
  background-color: #fff;
  padding: 2px;
  border: 1.5px dashed #333;
  border-radius: 5px;
}
.as-group {
  background-color: #aaa;
  color: #fff;
}
.node {
  cursor: pointer;
}
.rect-side {
}

/*Tooltip*/
.tooltip {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  max-width: 300px;
}
.tooltip ul {
  padding: 0;
}
.tooltip ul li {
  list-style-type: none;
}
.tooltip-title {
  font-weight: bold;
}
.tooltip-date {
  color: #444;
  font-size: 0.9rem;
}
.tooltip-author {
  margin-top: 5px;
}
.tooltip-url {
  margin-top: 7px;
}
/*Main Label*/
.mainlabeldiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainlabeldiv span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}

.side-node-text-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.side-node-text-div span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}

.side-hull-text-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.side-hull-text-div span {
  width: 100%;
  display: inline-block;
  color: black;
  line-height: normal;
  word-wrap: break-word;
  vertical-align: middle;
}
